<div class="custom-jumbotron p-5 bg-primary text-dark row h-50">
  <h1>{{ "who.we.are" | translate }}</h1>
</div>

<div class="row division-container">
  <h2 class="w-100 p-4">{{ "about.us.title" | translate }}</h2>
</div>

<div class="container p-4">
  <div class="row p-4 custom-lable shadow">
    <div class="col-md-9 border-sm-end">
      <p class="indent-40 lh-sm fs-4">
        {{ publicInfo.aboutUsIntro | descriptionTranslator }}
      </p>
    </div>
    <div class="col-md-3 d-flex justify-content-center align-item-center">
      <img
        src="/assets/images/learning.jpg"
        class="img-fluid rounded shadow"
        alt="..."
      />
    </div>
  </div>
</div>

<div class="row text-center division-container">
  <h2 class="w-100 p-4">{{ "our.team" | translate }}</h2>
</div>

<div class="container py-4">
  <div class="row d-flex justify-content-between align-items-center">
    <div
      class="col-12 col-lg-3 col-md-5 custom-container"
      *ngFor="let teacher of teachers"
    >
      <div class="row">
        <div
          class="col-12 d-flex justify-content-center align-items-center flex-column py-2 border-bottom"
        >
          <div
            class="border-bottom border-top custom-lable rounded w-100 text-center mb-2"
          >
            <h3>{{ teacher.firstName }}</h3>
          </div>
          <div class="">
            <img
              src="/assets/images/language.jpg"
              class="img-thumbnail image"
              alt="..."
            />
          </div>
        </div>
        <div
          class="col-12 d-flex justify-content-center align-items-stretch flex-column p-4 border-start"
        >
          <div class="my-4">
            <p class="m-0">
              {{ teacher.bio | descriptionTranslator }}
            </p>
            <p class="">{{ teacher.username | lowercase }}</p>
          </div>
          <div class="border-top pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg me-4 ms-2"
              (click)="goToTeacherPage('ID')"
            >
              {{ "view.teacher" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row text-center division-container">
  <h2 class="w-100 p-4">{{ "our.topics" | translate }}</h2>
</div>

<div class="container py-4">
  <div class="row d-flex justify-content-between align-items-center">
    <div
      class="col-12 col-lg-3 col-md-5 border custom-container rounded shadow m-2"
      *ngFor="let subject of subjects"
    >
      <div class="row">
        <div
          class="col-12 d-flex justify-content-center align-items-center flex-column py-2 border-bottom"
        >
          <div
            class="border-bottom border-top custom-lable rounded w-100 text-center mb-2"
          >
            <h3>{{ subject.subject }}</h3>
          </div>
          <div class="">
            <img
              src="/assets/images/learning.jpg"
              class="img-thumbnail rounded-circle"
              alt="..."
            />
          </div>
        </div>
        <div
          class="col-12 d-flex justify-content-center align-items-stretch flex-column p-4 border-start"
        >
          <div class="my-4">
            <p class="m-0">
              {{ subject.description | descriptionTranslator }}
            </p>
          </div>
          <div class="border-top pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg me-4 ms-2"
              (click)="goToTeacherPage('ID')"
            >
              {{ "view.teacher" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>