<div class="container">
  <div class="row p-4">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <iframe
        width="1327"
        height="755"
        src="https://www.youtube.com/embed/lady_lNb7Oo?list=PLiY06-DY3fPGy743ApZaKr7RT-JXCzmrU"
        title="Practice makes perfect.Learn, improve."
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <iframe
        width="1327"
        height="755"
        src="https://www.youtube.com/embed/9kJ11jixTYg"
        title="Diving in Poland, Crane Wreck Dive, Full Dive,(Via Sport Diving Marina Koparki)- Nurkowanie w Polsce"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
