<div class="container-fluid px-0 card-container shadow">
  <div class="row">
    <div
      class="col-md-6 d-flex justify-content-start align-items-center flex-column p-0"
      [ngStyle]="getLeftImageStyle('/assets/images/calendar-bg.jpg')"
    >
      <div class="mt-3 p-2">
        <h2 class="bg-gold rounded text-center text-light shadow py-2 px-4 text-break">
          {{ teacher.firstName }}
        </h2>
      </div>
      <h3 class="w-100 bg-dark opacity-75 p-2 mt-2 text-light text-center">
        English
      </h3>
      <div class="w-100 mt-auto bg-gold text-center text-light shadow p-2">
        <button
          type="button"
          class="btn btn-primary btn-lg"
          (click)="goToTeacherPage(teacher.id)"
        >
          {{ "view.teacher" | translate }}
        </button>
      </div>
    </div>
    <div
      class="bg-danger img-container d-flex justify-content-start align-items-center flex-column col-md-6 px-4 pt-4"
    >
      <div class="overflow-hidden rounded-pill mb-2">
        <img
          src="assets/images/bebestLogo1.png"
          alt=""
          class="rounded-pill shadow img-fluid image"
        />
      </div>
      <div class="w-75 bg-gold text-center text-light shadow p-2 mt-auto mb-2 rounded">
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
        {{ teacher.bio | descriptionTranslator }}
      </div>
    </div>
  </div>
</div>
