<div class="row" style="height: 100vh">
  <div
    class="col-12 d-flex justify-content-center align-items-center w-100 calendar-bg"
  >
    <form
      class="form-container align-items-center border shadow p-5 rounded bg-dark w-75 text-light"
      [formGroup]="loginForm"
      (ngSubmit)="onFormSubmit()"
    >
      <div class="text-center">
        <img src="assets/images/login.png" alt="{{'login' | translate}}" width="150px" height="150px"/>
        <p class="wrong-e-mail-or-pass float-end" *ngIf="credintialError">
          {{ "email.error" | translate }}
        </p>
      </div>
      <div class="my-4">
        <label for="exampleInputEmail1" class="form-label input-label">{{
          "email" | translate
        }}</label>
        <p class="float-end required">* {{ "required" | translate }}</p>
        <input
          type="email"
          class="form-control form-control-lg"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="username"
        />
      </div>
      <div class="my-4">
        <label for="exampleInputPassword1" class="form-label input-label">{{
          "password" | translate
        }}</label>
        <p class="float-end required">* {{ "required" | translate }}</p>
        <input
          type="password"
          class="form-control form-control-lg"
          id="exampleInputPassword1"
          formControlName="password"
        />
      </div>
      <a href="" class="forgot-password">{{ "forget.password" | translate }}</a>
      <button
        [disabled]="!loginForm.valid"
        type="submit"
        class="btn btn-success float-end"
      >
        {{ "submit" | translate }}
      </button>
    </form>
  </div>
</div>
