<div class="row">
  <div class="container">
    <div class="row text-white division-container">
      <h2 class="w-100 p-4 text-center">{{ "our.team" | translate }}</h2>
    </div>
    <div class="row d-flex justify-content-center align-items-center px-4">
      <div
        class="col-12 col-sm-3 m-2 shadow p-0 teacher-container"
        *ngFor="let teacher of teachers"
      >
        <div class="w-100 overflow-hidden">
          <img
            src="/assets/images/language.jpg"
            class="mb-1 img-fluid image"
            alt="..."
          />
        </div>
        <div class="p-4 teacher-body">
          <h2 class="text-center my-3">
            {{ teacher.firstName }} {{ teacher.lastName }}
          </h2>
       
        <div class="my-4">
          <p class="m-0">{{ teacher.bio | descriptionTranslator }}</p>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary btn-lg me-4 ms-2"
            (click)="goToTrainingPage('ID')"
          >
            {{ "view.teacher" | translate }}
          </button>
        </div>
      </div>
      </div>
    </div>
    <div class="row custom-lable">
      <div class="col-12 py-4">
        <a
          type="button"
          class="btn btn-dark btn-lg align-middle float-end shadow"
          [routerLink]="['/about-us']"
        >
          {{ "see.more" | translate }}
      </a>
      </div>
    </div>
  </div>
</div>

<div class="row calendar-bg">
  <div class="container">
    <div class="row division-container text-white">
      <h2 class="w-100 p-4 text-center">{{ "training" | translate }}</h2>
    </div>
    <div class="row d-flex justify-content-center align-items-center pt-4">
      <div
        class="col-12 col-sm-3 m-2 border p-4 rounded shadow bg-light"
        *ngFor="let training of trainings"
      >
        <div class="w-100">
          <img
            src="/assets/images/learning.jpg"
            class="mb-1 img-fluid image"
            alt="..."
          />
        </div>
        <div class="">
          <h2 class="text-center my-3">{{ training.title }}</h2>
        </div>
        <div class="my-4">
          <p class="m-0">{{ training.description | descriptionTranslator }}</p>
        </div>
        <div>
          <button
            type="button"
            class="btn btn-primary btn-lg me-4 ms-2"
            (click)="goToTrainingPage('ID')"
          >
            {{ "view.training" | translate }}
          </button>
        </div>
      </div>
    </div>
    <div class="row custom-lable">
      <div class="col-12 py-4">
        <a
          type="button"
          class="btn btn-lg align-middle float-end shadow"
          [routerLink]="['/trainings']"
        >
          {{ "see.more" | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
